/**
* Custom CSS
*/

#login-logo, #logout-logo, #register-logo {
  color: white; 
  font-size: 100px;
  padding: 30px;
}

.nav-item {
  cursor: pointer;
}

/* Change the cursor to pointer for elements that behave like links */
.is-link {
  cursor: pointer;
}

#logo {
  color: white;
}

/* User images */

.large-user-img {
  border-radius: 50%;
  border: 5px #333 solid;
  margin-bottom: 30px;
  margin-right: 50px;
}

.small-user-img {
  border-radius: 50%;
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  width: 40px;
  height: 40px;
}

/* Comment section */
.comment-section {
  max-height: 300px;
  overflow-y: auto;
}

/* Dashboard Feed */
#dashboard-feed-body {
  max-height: 600px;
  overflow-y: auto;
}

/* Tag layout (e.g. interest, group tags, ...) */
.custom-tag {
  border: black solid;
  border-radius: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
  margin: 0.25rem;
  color: black;
  background: white;
}

.custom-tag.editable {
  padding: 0 0.5rem 0 0;
}

.custom-tag-container {
  display: flex;
  flex-wrap: wrap;
}

.custom-tag-input {
  width: 10pc;
  border: none;
}

.float-right {
  float: right;
}

.btn-sm {
  margin-right: 5px;
  margin-bottom: 5px;
}

#collapseUploadSection {
  margin-bottom: 10px;
}
