/**
* Custom CSS
*/

#login-logo, #logout-logo {
  color: white; 
  font-size: 100px;
  padding: 30px;
}

.nav-item {
  cursor: pointer;
}

/* Change the cursor to pointer for elements that behave like links */
.is-link {
  cursor: pointer;
}

#logo {
  color: white;
}

#profileInfo img {
  border-radius: 50%;
  border: 5px #333 solid;
  margin-bottom: 30px;
  margin-right: 50px;
}