/**
* Custom CSS
*/

#login-logo, #logout-logo {
  color: white; 
  font-size: 100px;
  padding: 30px;
}

.nav-item {
  cursor: pointer;
}

/* Change the cursor to pointer for elements that behave like links */
.is-link {
  cursor: pointer;
}

#logo {
  color: white;
}

/* Comment section */
.comment-section {
  max-height: 300px;
  overflow-y: auto;
}